---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Personal website for xozoid." } = Astro.props;
const siteVersion = import.meta.env.PUBLIC_SITE_VERSION || "v0+dev";
const showFooterNav = Astro.url.pathname.replace(/\/$/, "") !== "/welcome";
const showStyleLink =
  import.meta.env.DEV || import.meta.env.PUBLIC_DEBUG === "true";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="version" content={siteVersion} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- TODO (xozoid): tree shake and self-host fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=Kode+Mono:wght@400;500;600;700&family=Offside&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1"
    />
  </head>
  <body>
    <script is:inline>
      if (document.cookie.split("; ").includes("theme=light")) {
        document.documentElement.classList.add("light");
      }
    </script>
    <slot />
    <footer>
      <table>
        <tbody>
          <tr>
            <td class="max-md:hidden">
              <a href="/welcome">
                <span class="text-on-surface opacity-70">Xenon Core</span>
                <span>{siteVersion}</span>
              </a>
            </td>
            <td>
              <a href="/">[ ~ ]</a>
            </td>
            {
              showFooterNav && (
                <>
                  <td>
                    <a href="/logs">[logs]</a>
                  </td>
                  <td>
                    <a href="/artifacts">[artifacts]</a>
                  </td>
                  <td>
                    <a href="/profile">[profile]</a>
                  </td>
                </>
              )
            }
            <td class="footer-actions">
              <div>
                <icon class="text-secondary">signal_cellular_4_bar</icon>
                <a href="/terminal" class="btn-text btn-sq max-md:hidden">
                  <icon>terminal</icon>
                </a>
                {
                  showStyleLink && (
                    <a href="/style" class="btn-text btn-sq max-md:hidden">
                      <icon>palette</icon>
                    </a>
                  )
                }
              </div>
            </td>
            <td class="flex gap-1 p-1">
              <button id="theme-light" class="btn-text btn-sq" type="button">
                <icon>light_mode</icon>
              </button>
              <button
                id="theme-dark"
                class="open btn-text btn-sq"
                type="button"
              >
                <icon>dark_mode</icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <script>
        import "../scripts/footer-signal";
        import "../scripts/footer-theme";
      </script>
    </footer>
  </body>
</html>
